# Node modules
backend/node_modules/

# Logs
*.log
logs/

# Environment variables
.env

# Dependency directories
bower_components/

# Build output
/dist/
/build/

# Temporary files
*.swp
*.swo
*.bak
*.tmp

# IDE/Editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# NPM package-lock file (if not needed)
package-lock.json
